p{
    padding-top: 5vh;
    text-align: center;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    /* responsive font size */
    font-size: calc(2vw + 2vh + 1.5vmin);
   
    
}