<nav class="sidebar">
    <app-tego-shuttering-panels-sidebar (stringOutput)=getChildEvent($event)></app-tego-shuttering-panels-sidebar>
</nav>
<div class="description-text" *ngIf="imageName=='tego';">
    <text-style1-container>
        <app-tego-text class="tegoText"></app-tego-text>
    </text-style1-container>
</div>
<div class="description-text" *ngIf="imageName=='tlat';">
    <text-style1-container>
        <app-shuttering-panels class="tlatText"></app-shuttering-panels>
    </text-style1-container>
</div>
<div class="image-box" *ngIf="imageName;">
    <img class="image" src="../../../assets/images/plywoods/{{imageName}}-plywood.jpg">
</div>