div{

    background-color: gray;
}
h1{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Futura';
    color: rgb(12, 12, 12);
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 90px #fff,
    0 0 100px #fff,
    0 0 150px #fff;
    }

