 .heading, .map-responsive{
     float: right;
     box-sizing: border-box;
 }

 .heading{
     width: 100%;
     text-align: center;
     margin-top: 16vh;
 }

 .map-responsive,.map-responsive iframe{
     height: 72vh;
 }
 .map-responsive{
     margin-top: 2vh;
    margin-right: 13.8vw;
    width: 75.5%;
    background-color: yellow;
}
.map-responsive iframe{
    width: 100%;
    /* right:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute; */
}

