#container {
    width: 100%;
    height: 100%;
    position: relative;

}

#navbar, #main, #footer
{
    position: absolute;
}

#navbar, #main
{
    top: 0;
    right: 0;
}

#footer, #navbar {
    z-index: 1;
}


#footer
{
    width: 100%;
    text-align: left;
    left:1%;
    top: 92%;
}

#navbar
{
}