#container {
    height: 100%;
    position: relative;

}

#main
{
    position: relative;
}

#navbar, #main
{
    top: 0;
    right: 0;
}



    #navbar {
    z-index: 1;
    background-color: black;
}


#footer
{
    margin-top: 10px;
    position: fixed;
    width: 100%;
    text-align: left;
    bottom: 0;
}

#navbar{
    position: fixed;
}
