#container, #main, #navbar, #footer
{
    width: 100%;
    float: right;
}
#container {
    height: 100%;
    width: 100%;
}


#navbar, #main
{
    top: 0;
    right: 0;
}



#navbar {
    z-index: 1;
    position: fixed;
    /*menu background color control is here
    Task: toggle in "about" page to white. Rest should be transparent*/
}

/* todo: Make footer stick to the button */
#footer
{
    margin-top: 10px;
    text-align: center;
    bottom: 0;
}
