#container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;

}

#navbar, #main, #footer
{
    position: absolute;
}

#navbar, #main
{
    top: 0;
    left: 0;
}

#footer
{
    top: 90%;

}

#footer, #navbar {
    z-index: 10;
}


