div{
  padding-top: 1.5rem;
}
p:nth-child(2){
  font-weight: 600;
}

a{
    color: brown;
    font-weight: 500;
    cursor: pointer;
  -moz-transition: all .5s ease;
  transition: all .5s ease;

}

a:hover{
    font-size: 1.1em;
    color: brown;

}


h2, div{
  animation-name: fadeInAnimation;
  animation-duration: 5s;

}


@keyframes fadeInAnimation {
from { opacity: 0;}
to { opacity: 1;}

}


