#about{
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: right;
    height: 500px;
    position: absolute;
    z-index: 1;
    top: 25%;
    right: 19%;
    font-weight: 600;
}

.background-crop{
    display: inline-block;
    height: 563px;
    width: 100%;
    overflow: hidden;
    opacity: 0.7;
}



