#about{
    position: static;
    text-align: right;
    font-weight: 600;
    margin-top: 300px;
    margin-right: 200px;
    background-color: blueviolet;

}

.background-crop{
    background-color: blueviolet;
    position: fixed;
    top: 150px;

}

div img {
    width: 100%;
}



