<div class="background-crop">
    <img src="../../../assets/urigrossltd-collage02.gif" alt="Truck with lumber">
</div>
<div id="about">
    <p>חברת אורי גרוס בע"מ, שהוקמה על-ידי אורי גרוס ז"ל, קיימת מעל ל-70 שנה והיא מנוהלת במשך שלושה דורות.
        <br>החברה החלה את דרכה במכירת עצים קשים לענף הרהיטים ובמשך העשורים האחרונים ביססה עצמה גם בתחום הלבידים ומדפ,
        <br>שניתן לצפות בהם בדף המוצרים באתר.
    </p>
    <p>
        אנו שמים דגש על יבוא המוצרים האיכותיים שניתן לספק, מחירים תחרותיים, זמני הספקה מהטובים בשוק וכל זאת על מנת לספק את 
        <br>צרכי-הלקוחות בצורה הטובה ביותר.
    </p>
    <p>לרשות לקוחותינו עומד צי-המשאיות של החברה. שירותי מנוף ניתנים כשירות נוסף בהתאם לצרכי-הלקוחות.
        <br>בתחום העצים הקשים אנו מספקים את המגוון הרחב ביותר שניתן למצוא בישראל.
        <br>
        <br>החברה מחזיקה מלאי גדול במגוון איכויות וחברות שונות במטרה לספק את צרכי הלקוחות.
    </p>
    <p>הצוות המקצועי מלווה את הלקוחות החל מהסוכנים שמכירים באופן אישי כל נגר וסוחר ומודעים לצרכיו,
        <br>דרך מחלקת היבוא בעלת הנסיון רב השנים הקשובה לסוכני המכירות וצרכי-השוק,
        <br> המחסנאים בעלי הנסיון וההבנה בעצים ונהגי המשאיות המקצועיים שלנו המספקים את מוצרינו לרחבי הארץ.
    </p>
</div>


<!-- descide which is the best header image for "about". Maybe from image bank?
Maybe take a panoramic photo of the warehouse -->