<div id="about">
    <p>חברת אורי גרוס בע"מ בגילגוליה השונים קיימת מעל ל-70 שנה. אורי גרוס 
        ז"ל הקים את החברה והיא מנוהלת במשך שלושה דורות.
        <br>החברה החלה את דרכה במכירת עצים קשים לענף הרהיטים ובמשך העשורים האחרונים מבססת עצמה גם בתחום הלבידים, מדפ,
        <br>שניתן לצפות בהם בדף המוצרים באתר.
    </p>
    <p>
        החברה שמה דגש על המוצרים האיכותיים שניתן לספק, מחירים תחרותיים, זמני הספקה מהטובים בשוק וכל זאת על מנת לספק את 
        <br>צרכי-הלקוחות בצורה הטובה ביותר.
    </p>
    <p>לרשות הלקוח עומד צי-המשאיות של החברה. שירותי מנוף ניתנים כשירות נוסף בהתאם לצרכי-הלקוחות.
        <br>בתחום העצים הקשים אנו מספקים את המגוון הרחב ביותר שניתן למצוא בישראל.
        <br>
        <br>החברה מחזיקה מלאי גדול במגוון איכויות וחברות שונות במטרה לספק את צרכי הלקוחות.
    </p>
    <p>הצוות המקצועי מלווה את הלקוחות החל מהסוכנים שמכירים באופן אישי כל לקוח ולקוח ומודעים לצרכיו, דרך מחלקת היבוא בעלת הנסיון רב השנים
        <br>שקשובה לסוכני המכירות וצרכי-השוק, המחסנאים בעלי הנסיון וההבנה בעצים ונהגי המשאיות המקצועיים שלנו
        <br>המספקים את מוצרינו לרחבי הארץ.
        <br>יחד - עובדי החברה פועלים בסינרגיה כבר יותר מ-70 שנה.
    </p>
</div>
<!-- here will be about uri gross ltd -->