#about, .background-crop{
    animation-name: fadeInAnimation ;
    animation-duration: 5s;
}

#about{
    position: static;
    text-align: right;
    font-weight: 600;
    font-size: 1.1em;
    margin-top: 300px;
    margin-right: 200px;
}

.background-crop{
    position: fixed;
    width: 100%;
    top: 150px;
    height: 155px;
    background-color: white;
}
div img {
    width: 100%;
    height: 100px;
}

@keyframes fadeInAnimation {
    from { opacity: 0;}
    to { opacity: 1;}

}
