/* .background-wallpaper{
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  background: url("../../../assets/images/backgrounds/contact/euro-oak.jpg");
  background-size: cover;
  background-attachment: fixed;

} */
.carousel, .wood-text, img{
  box-sizing: border-box;
  float: right;
}
.carousel{
  height: 100vh;
  width: 100vw;
}

  .wood-text{ 
  margin-top: 30vh;
  margin-right: 14vw;
  text-align: center;
  width: 47vw;
}

.img-wrapper, img{
  height: 50vh;
}

.img-wrapper{
  margin-right: 0vw;
  margin-top: 30vh;

}
img{ 
    height: 50vh;
    margin-right: 5vh;
    animation-duration: 1.4s;
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infnite;
    animation-direction: alternate;
}

.carousel-caption{
  width: 30vw;
  margin-right: 45vw;
  text-align: center;
}

.left-arrow{
  position: absolute;
  top: 30vh;
  left: 2vw;
}



@keyframes cf3FadeInOut {
    0% {
      opacity:0.3;
    }
    10% {
        opacity: 0.4;
    }
    100% {
      opacity:1;
    }
  }

  

