:host /deep/.sidebar, :host /deep/.image-box, :host /deep/.description-text, :host /deep/img{
    box-sizing: border-box;
    float: right;
}

:host /deep/.sidebar, :host /deep/.image-box, :host /deep/.description-text{
    text-align: right;
    padding-top: 150px;
}

:host /deep/.sidebar{
    width: 15%; /*control the total width of the sidemenu */
    padding-right: 50px;
}

:host /deep/.image-box, :host /deep/.description-text {
    width: 40%;

}

:host /deep/.image-box{
    margin-top: 2rem;
}

:host /deep/img{
    width: 50%;
    padding-right: 100px;
}

:host /deep/.decription-text{
    text-align: right;
    padding-right: 100px;
}
