/* mobile view change to 375-900 px */
/* @media only screen and (min-width: 375px) and (max-width: 900px) { */

@media only screen and (min-width: 901px) {
    .background-crop{
        height: 100%;
        padding:0;
        overflow: hidden;
    }
    
    div img {
        
        margin: -13% 0 -8% 0;
        width: 100%;
        animation-name: fadeInAnimation;
        animation-duration: 5s;
        
    }   
  }

  @keyframes fadeInAnimation {
      from { opacity: 0;}
      to { opacity: 1;}

  }

