/* mobile view change to 375-900 px */
/* @media only screen and (min-width: 375px) and (max-width: 900px) { */

@media only screen and (min-width: 901px) {
    .background-crop{
        height: 100%;
        padding:0;
        overflow: hidden;
    }
    
    div img {

        margin: -10% 0 -11.5% 0;
        width: 100%;
        
    }   
  }

