/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body,html {
    height: 100%;
    font-family: 'Assistant', sans-serif;
    box-sizing: border-box;
}


mat-icon{
    font-family:"Material Icon" !important;
    font-size: x-large;
}

