<div class="menu-wrapper">
<ul class="menu-buttons">
    <div>
        <li><a class="m-btn" routerLink="/heb/home" routerLinkActive="the-chosen-one">ראשי</a></li>
        <li><a class="m-btn" routerLink="/heb/about" routerLinkActive="the-chosen-one">אודות</a></li>
        <li class="dropdown">
            <a class="m-btn" href="javascript:void(0)" [style.font-weight]="toggleBoldProductsRouting()">מוצרים</a>
            <div class="dropdown-content">
                <a routerLink="/heb/plywood1" [style.background-color]="toggleColorAboutRouting()">לבידים</a>
                <a routerLink="/heb/mdf" [style.background-color]="toggleColorAboutRouting()">MDF</a>
                <a routerLink="/heb/hardwood" [style.background-color]="toggleColorAboutRouting()">עצים קשים</a>
                <a routerLink="/heb/plywood2" [style.background-color]="toggleColorAboutRouting()">טגו \ תלת שכבתי</a>
                <a routerLink="/heb/plywood3" [style.background-color]="toggleColorAboutRouting()">בוצ'ר \ osb</a>
            </div>
        </li>
        <li><a class="m-btn" routerLink="/heb/contact" routerLinkActive="the-chosen-one">צור קשר</a></li>
        <li><a class="m-btn" routerLink="/heb/map" routerLinkActive="the-chosen-one">דרכי הגעה</a></li>
        <li class="phone">
            <a href="tel:088564377" class="phone-number" >08-8564377<button class="phone-button" mat-icon-button color="black"><mat-icon>phone</mat-icon>
            </button></a>
            
                
        </li>
    </div>
    
</ul>
<div class="menu-logo">
    <img src="../../../assets/uri logo transperent trimmed 372px-100px.png" width="75%" class="d-inline-block align-top"
        alt="URI GROSS LTD logo">
</div>
</div>