<ul class="menu-buttons">
    <div>
        <li><a routerLink="/heb/home" routerLinkActive="the-chosen-one">ראשי</a></li>
        <li><a routerLink="/heb/about" routerLinkActive="the-chosen-one">אודות</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">מוצרים</a>
            <div class="dropdown-content">
                <a routerLink="/heb/plywood1" [style.background-color]="toggleColorAboutRouting()">לבידים</a>
                <a routerLink="/heb/mdf" [style.background-color]="toggleColorAboutRouting()">מדפ</a>
                <a routerLink="/heb/hardwood" [style.background-color]="toggleColorAboutRouting()">עצים קשים</a>
                <a routerLink="/heb/plywood2" [style.background-color]="toggleColorAboutRouting()">טגו \ תלת שכבתי</a>
                <a routerLink="/heb/plywood2" [style.background-color]="toggleColorAboutRouting()">בוצ'ר \ osb</a>
            </div>
        </li>
        <li><a routerLink="/heb/contact" routerLinkActive="the-chosen-one">צור קשר</a></li>
        <li><a routerLink="/heb/map" routerLinkActive="the-chosen-one">דרכי הגעה</a></li>
    </div>
</ul>
<div class="menu-logo">
    <img src="../../../assets/uri logo transperent trimmed 372px-100px.png" width="25%" class="d-inline-block align-top"
        alt="URI GROSS LTD logo">
</div>

<!-- <div id="navbar">
    <a routerLink="/heb/home" routerLinkActive="the-chosen-one">ראשי</a>
    <a routerLink="/heb/about" routerLinkActive="the-chosen-one">אודות</a>
    <a routerLink="/heb/mdf">לבידים</a>
    <a routerLink="/heb/mdf">מ.ד.פ</a>
    <a routerLink="/heb/hadrwoods">עצים קשים</a>
    <a routerLink="/heb/contact" routerLinkActive="the-chosen-one">צור קשר</a>
    <img src="../../../assets/uri logo transperent trimmed 372px-100px.png" width="25%" class="d-inline-block align-top"
        alt="URI GROSS LTD logo">
</div>

<script type="text/javasript">
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
        
        var currentScrollpos = window.pageYOffset;
        if(prevScrollpos > currentScrollpos) {
            document.getElementById("navbar").style.top = "0";

        }
        else{
            document.getElementById("navbar").style.top = "-100px";

        }
        prevScrollpos = currentScrollpos;
    }
</script>
 -->