<ul>
    <li><a routerLink="/heb/home" routerLinkActive="the-chosen-one">ראשי</a></li>
    <li><a routerLink="/heb/about" routerLinkActive="the-chosen-one">אודות</a></li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">לבידים</a>
        <div class="dropdown-content">
            <a href="#">לבידים מצופים פורמאייקה</a>
            <a href="#">מדפ מצופה פורניר</a>
            <a href="#">מדפ רגיל</a>
            <a href="#">מדפ דוחה לחות</a>
            <a href="#">מדפ יצוק</a>
            <a href="#">מדפ</a>
            <a href="#">ליבנה</a>
            <a href="#">טגו</a>
            <a href="#">או אס בי</a>
            <a href="#">תלת-שכבתי</a>
        </div>
        <img src="../../../assets/uri logo transperent trimmed 372px-100px.png" 
        width="25%" class="d-inline-block align-top" alt="URI GROSS LTD logo">
    </li>
</ul>

<!-- <div id="navbar">
    <a routerLink="/heb/home" routerLinkActive="the-chosen-one">ראשי</a>
    <a routerLink="/heb/about" routerLinkActive="the-chosen-one">אודות</a>
    <a routerLink="/heb/mdf">לבידים</a>
    <a routerLink="/heb/mdf">מ.ד.פ</a>
    <a routerLink="/heb/hadrwoods">עצים קשים</a>
    <a routerLink="/heb/contact" routerLinkActive="the-chosen-one">צור קשר</a>
    <img src="../../../assets/uri logo transperent trimmed 372px-100px.png" width="25%" class="d-inline-block align-top"
        alt="URI GROSS LTD logo">
</div>

<script type="text/javasript">
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
        
        var currentScrollpos = window.pageYOffset;
        if(prevScrollpos > currentScrollpos) {
            document.getElementById("navbar").style.top = "0";

        }
        else{
            document.getElementById("navbar").style.top = "-100px";

        }
        prevScrollpos = currentScrollpos;
    }
</script>
 -->