.menu-wrapper{
  margin-top: 0vh;
  height: 100vh;
  animation-duration: 2s;
  animation-name: jumpinMenuAnimation;
}
.menu-buttons, .menu-logo{
  box-sizing: border-box;
  float: right;
  
}

.menu-buttons
{
  width: 60vw;
  text-align: right;
  list-style-type: none;
  overflow: visible;
  margin-right: 10vw;
  padding-top: 9.5vh;
  font-size: 1.3em;
}

.menu-logo{
  margin-top: -1.7vh;
  width: 25vw;
}

li
{
  box-sizing: border-box;
  float: right;
}


li a
{
  box-sizing: border-box;
  text-align: center;
  padding: 0px 1.1rem;  
}

.phone-button{
  position: absolute;
  margin-top: -0.6vh;
  right: 55vw+50%;
  animation-duration: 2s;
  animation-name: jumpinButtonAnimation;
}

.phone a {
  padding-left: 0px;
}

.m-btn, .phone a, .dropdown-content{
  color: rgba(46, 23, 4, 0.74); 

}

.m-btn:hover, .phone a:hover, .dropdown-content:hover{
  color: rgba(121, 178, 46, 1)
  /* underline is built in the bootstrap menu */
}

.dropbtn 
{
  color: rgba(46, 23, 4, 0.74); 
    box-sizing: border-box;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
  }
  
  .the-chosen-one {
    font-weight: 600;
  }
     
  li.dropdown {
    display: inline-block;   /*dropdown menu positioning at main-menu */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 210px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    background-color: white;
    color: black;
    margin-top: 0;
    padding: 4px 16px;
    display: block;
    text-align: right;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  img{
        float: right;
        padding-top: 2em;
  }
  
@keyframes jumpinButtonAnimation {
  0% {top: 0vh; opacity: 0;}
  100% {top: 9.4vh; opacity: 1;}
}


@keyframes jumpinMenuAnimation {
  0% {margin-top: -10vh; opacity: 0;}
  100% {margin-top: 0vh; opacity: 1;}
}