ul 
{
    box-sizing: border-box;
    float: right;
    width: 100%;
    text-align: center;
    list-style-type: none;
    /* margin-right: 450px;
    padding: 0; */
    overflow: visible;
    }

.menu-buttons{
    width: 75%;
}

.menu-logo{
    width: 25%;
}

li
    {
    background-color: black;
    padding-top: 25px;
    float: right;
    
    }
  
li a, .dropbtn 
{
    display: inline-block;
    color: rgba(46, 23, 4, 0.74); /*Menu text color*/
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn 
  {
    font-weight: bolder;
  }
  
  li.dropdown {
    display: inline-block;   /*dropdown menu positioning at main-menu */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 210px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    background-color: white;
    color: black;
    margin-top: 0;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  img{
        /* float: right; */
      padding: 0px;
      margin-right: 500px;
      margin-top: -60px;
  }
  
