ul 
    {
    text-align: right;
    list-style-type: none;
    margin-right: 450px;
    padding: 0;
    overflow: visible;
    }
li
    {
    padding-top: 45px;
    float: right;
    }
  
li a, .dropbtn 
{
    display: inline-block;
    color: rgba(46, 23, 4, 0.74); 
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn 
  {
    font-weight: bolder;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    margin-top: 0;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  img{
      float: right;
      padding: 0px;
      margin-right: 500px;
      margin-top: -60px;
  }
  
