<div class="background-wallpaper">
        <form ngNoForm action="mailto:ashdod@urigross.co.il" method="POST" enctype="text/plain">
        <h1>צור עמנו קשר</h1>
        <!-- <div class="contact-form-background"></div> -->

        <div class="first-name">
            <mat-form-field appearance="fill" class="first-name-line">
                <mat-label>שם פרטי</mat-label>
                <input matInput type="text" [formControl]="firstName" required name="firstName" autofocus>
                <mat-error *ngIf="firstName.invalid">{{getFirstNameErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="last-name">
            <mat-form-field appearance="fill" class="last-name-line">
                <mat-label>שם משפחה</mat-label>   
                <input matInput type="text" [formControl]="lastName" required name="lastName">
                <mat-error *ngIf="lastName.invalid">{{getLastNameErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="telephone">
            <mat-form-field appearance="fill" class="telephone-line">
                <mat-label>טלפון</mat-label>
                <input matInput type="text" [formControl]="telephone" required name="telephone">
                <mat-error *ngIf="telephone.invalid">{{getTelephoneErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="email-container">
            <mat-form-field appearance="fill" class="email-line">
                <mat-label>מייל</mat-label>
                <input matInput type="email" name="email">
            </mat-form-field>
        </div>
        <!-- <button>שלח</button> -->
        <input class="submit" type="submit" value="שלח הודעה">
        <div class="contact-message-container">
            <mat-form-field appearance="fill" class="contact-message-line">
                <mat-label>הודעה לשליחה</mat-label>
                <textarea matInput type="textarea" placeholder="טקסט להודעה.." [formControl]="contactMessage" 
                required name="contactMessage"
                cdkTextareaAutosize cdkAutosizeMinRows="12" cdkAutosizeMaxRows="15"></textarea>
                <mat-error *ngIf="contactMessage.invalid">{{getContactMessageErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
</form>

<div class="agents">
    <h2>הסוכנים שלנו</h2>
    <h3>צפון</h3>
    <p>תמיר 052-8677300 אבי 052-3963499</p>
    <h3>השרון \ המרכז \ הדרום</h3>
    <p>אורן 052-3963497 אייל 052-3963492</p>
    <h3>איזור ירושלים</h3>
    <p>אחמד 052-3963485</p>
    <h3>הנהלת חשבונות</h3>
    <p>משרד: 08-8564377</p>
</div>

<!-- here will be contact us info includes:

email
contact form
telephones
address 

create a component  

-->