/* 

.agents {
    float: right;
    width: 86%;
    text-align: right;
    margin-top: 200px;
    margin-right: 200px;
}

 */

 .background-wallpaper{
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  background: url("../../../assets/images/backgrounds/contact/euro-oak.jpg");
  opacity: 1;
  background-size: cover;
  background-attachment: fixed;

}

.background-container .mat-form-field + .mat-form-field {
 margin-left: 8px;
}

mat-error{
 font-size: large;
 font-weight: bold;
}

.contact-form{
 background-color:white;
 margin-top:25vh;
 opacity: 0.3;
 height: 50vh;
 width: 60vw;
}

h1{
 position: absolute;
 top: 20vh;
 right: 45vw;
}

.email-container{
 position: absolute;
}

.first-name, .last-name ,.telephone, .prefix-sign{
 position: absolute;
 top: 40vh;
}


.first-name{
  right: 15vw;
}

.last-name{
  margin-right: 8vw;
}

.first-name-line, .last-name-line{
  width: 50%;
}


.telephone{
  margin-right: 17vw;
}

.telephone-line{

  width: 40%;
}

.prefix-seperator{
  margin-right: 1em;
}

.prefix{
  position: absolute;
  top: 37.7vh;
  right: 46vw;
}
.prefix-line{
width: 25%;
line-height: 150%;
}
button , .submit{
  position: absolute;
  top:75vh;
}

