<div class="background-wallpaper">
    <form action="mailto:example@com" method="POST" enctype="multipart/form-data" name="EmaiTestForm">
        <h1>צור עמנו קשר</h1>
        <div class="first-name">
            <mat-form-field appearance="fill">
                <input matInput type="text" placeholder="שם פרטי" [formControl]="firstName" required name="firstName"
                    autofocus>
                <mat-error *ngIf="firstName.invalid">{{getFirstNameErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="last-name">
            <mat-form-field appearance="fill">
                <input matInput type="text" placeholder="שם משפחה" [formControl]="lastName" required name="lastName">
                <mat-error *ngIf="lastName.invalid">{{getLastNameErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="telephone">
            <mat-form-field appearance="fill">
                <input matInput type="text" placeholder="טלפון" [formControl]="telephone" required name="telephone">
                <mat-error *ngIf="telephone.invalid">{{getTelephoneErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="email-container">
            <mat-form-field appearance="fill">
                <input matInput type="email" placeholder="כתובת מייל" [formControl]="email" required name="email">
                <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <button type="submit" class="btn btn-primary btn-raised">שלח</button>
</form>


<!-- <div class="agents">
    <h2>הסוכנים שלנו:</h2>
    <h3>איזור הצפון: תמיר 052-8677300 אבי 052-3963499</h3>
    <h3>איזור השרון המרכז והדרום: אורן 052-3963497 אייל 052-3963492</h3>
    <h3>איזור ירושלים: אחמד 052-3963485</h3>
    <h2>הנהלת חשבונות</h2>
    <h3>משרד: 08-8564377</h3>
</div> -->

<!-- here will be contact us info includes:

email
contact form
telephones
address 

create a component  

-->